# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: vitorrsousaa
# "service" is the name of this project. This will also be added to your AWS resource names.
service: ProjectName
useDotenv: true

package:
  individually: true

plugins:
  - serverless-dotenv-plugin
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  deploymentMethod: direct
  architecture: arm64

custom:
  # dotenv:
  # path: ${file(./.env.${self:provider.stage})}
  # stages:
  #   default:
  #     resolvers:
  #       aws-account-1:
  #         type: aws
  #         profile: account1-profile-name
  #         region: us-east-1
  #         accessKeyId: ${env:AWS_ACCESS_KEY_ID}
  #         secretAccessKey: ${env:AWS_SECRET_ACCESS_KEY}
  serverless-offline:
    httpPort: 4000
    lambdaPort: 3002
    noPrependStageInUrl: true

build:
  esbuild:
    bundle: true
    minify: true
    sourcemap: false
    exclude:
      - "@aws-sdk/*"
    target: node20

functions:
  getTodos:
    handler: src/server/functions/todo/get-todos/index.handler
    events:
      - httpApi:
          path: /todos
          method: get
  getInboxTodos:
    handler: src/server/functions/todo/get-inbox-todos/index.handler
    events:
      - httpApi:
          path: /inbox/todos
          method: get

  createTodo:
    handler: src/server/functions/todo/create-todo/index.handler
    events:
      - httpApi:
          path: /todos
          method: post
